.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(2, 143, 150);
}

.hero {
  text-align: center;
}

.globo-girando {
  width: 300px;
  height: 300px;
  margin-top: 200px;
}

.welcome-message {
  font-size: 32px;
  color: #03265f;
  margin-bottom: 0px;
  margin-top: 30px;
}

.landing-text {
  font-size: 18px;
  color: #fff7f7;
  margin-bottom: 30px;
}

.login-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #03265f;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #0346a9;
}

.social-icons {
  margin-top: 40px;
}

.title {
  font-size: 24px;
  color: #03265f;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #666;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #03265f;
}

.contact-info {
  margin-top: 30px;
  font-size: 16px;
  color: #666;
}
